*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

li {
  margin-top: 5px;
}

#root {
  height: 100%;
}

main {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  height: 100%;
}

#map {
  flex: 1;
}

.side-bar {
  cursor: default;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 1000;
  background-color: rgba(248, 250, 252, 0.545);
  color: rgb(2, 6, 23);
}

.side-bar li {
  font-size: 16px;
  border-bottom: 1px solid rgb(2, 6, 23);
  padding: 5px;
}

.side-bar li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.side-bar h2 {
  font-size: 32px;
}

.side-bar > button {
  border: 1px solid rgb(2, 6, 23);
  background-color: inherit;
  padding: 10px;
}

.side-bar > button:hover {
  background-color: rgb(2, 6, 23);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.side-bar p {
  font-size: 22px;
}

.side-bar p:nth-child(odd) {
  background-color: #f8fafc;
}

header {
  padding: 10px;
}
